<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RRHHWSPortBinding" />
        <binding name="EventosWSPortBinding" />
        <binding name="VentasWSPortBinding" />
        <binding name="ReservasWSPortBinding" />
		 <binding name="ReporteWSPortBinding" receiveTimeout="00:1:00" sendTimeout="00:1:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/LothelSoftWS/RRHHWS"
        binding="basicHttpBinding" bindingConfiguration="RRHHWSPortBinding"
        contract="LothelSoftWS.RRHHWS" name="RRHHWSPort" />
      <endpoint address="http://localhost:8080/LothelSoftWS/EventosWS"
        binding="basicHttpBinding" bindingConfiguration="EventosWSPortBinding"
        contract="LothelSoftWS.EventosWS" name="EventosWSPort" />
      <endpoint address="http://localhost:8080/LothelSoftWS/VentasWS"
        binding="basicHttpBinding" bindingConfiguration="VentasWSPortBinding"
        contract="LothelSoftWS.VentasWS" name="VentasWSPort" />
      <endpoint address="http://localhost:8080/LothelSoftWS/ReservasWS"
        binding="basicHttpBinding" bindingConfiguration="ReservasWSPortBinding"
        contract="LothelSoftWS.ReservasWS" name="ReservasWSPort" />
    </client>
  </system.serviceModel>
</configuration>